#header {
  width: 100vw;
  background: linear-gradient(90deg, #000000 70%, #691107 100%);
  height: 18vh;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
}

#header img {
  width: 15vw;
}
